<h2 class="text-2xl font-bold mb-4 text-center mt-9 underline">Ajout d'articles</h2>
<div class="max-w-md mx-auto bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 mt-7">
  <div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="reference">
      Référence
    </label>
    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="reference" type="text" placeholder="Référence">
  </div>
  <div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="designation">
      Désignation
    </label>
    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="designation" type="text" placeholder="Désignation">
  </div>
  <div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="famille">
      Famille
    </label>
    <select class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="famille">
      <option>---Choisir une famille---</option>
      <option>Mavoungou-Mbatchi</option>
      <option>Ndiaye</option>
      <option>Diop</option>
      <option>Fall</option>
      <option>Sadio</option>
      <option>Coulibaly</option>
      <option>Gueye</option>
      <option>Bâ</option>




      <!-- Ajoutez ici les options pour les familles -->
    </select>
  </div>
  <div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="suiviStock">
      Suivi de stock
    </label>
    <select class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="suiviStock">
      <option value="">---Suivi de stock---</option>
      <option value="suivi">CMUP</option>
      <option value="non-suivi">FIFO</option>
    </select>
  </div>
  <div class="flex items-center justify-between">
    <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
      Enregistrer
    </button>
  </div>
</div>
