<div class="max-w-md mx-auto mt-12">
  <h2 class="text-2xl font-bold mb-4 text-center mt-12 underline">Ajout d'une famille</h2>
  <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" (ngSubmit)="onSubmit()">
    <!-- Code -->
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="code">
        Code
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
             id="code" type="text" placeholder="Code" [(ngModel)]="familleData.code" name="code">
    </div>
    <!-- Intitulé -->
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="intitule">
        Intitulé
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
             id="intitule" type="text" placeholder="Intitulé" [(ngModel)]="familleData.intitule" name="intitule">
    </div>
    <!-- Unité de vente -->
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="uniteVente">
        Unité de vente
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
             id="uniteVente" type="text" placeholder="Unité de vente" [(ngModel)]="familleData.unite_de_vente" name="uniteVente">
    </div>
    <!-- Suivi de stock -->
    <div class="mb-6">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="suiviStock">
        Suivi de stock
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
             id="suiviStock" type="text" placeholder="Suivi de stock" [(ngModel)]="familleData.suivi_stock" name="suiviStock">
    </div>
    <!-- Bouton Ajouter -->
    <div class="flex items-center justify-between">
      <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
        Ajouter
      </button>
    </div>
  </form>
</div>
