<!-- <aside class="pt-12 fixed top-11 left-0 h-screen w-40 bg-gray-600 rounded-md border-t-2 z-10 text-center ">
  <ul>
    <li class="py-2">
      <a href="#" class="custom-contact-link">Home</a>
    </li>
    <li class="py-2">
      <a href="#" class="custom-contact-link">Produits</a>
    </li>
    <li class="py-2">
      <a href="#" class="custom-contact-link">Dépots</a>
    </li>
    <li class="py-2">
      <a href="#" class="custom-contact-link">Contact</a>
    </li>
  </ul>
</aside> -->

<!-- side-nav.component.html -->
<div>
  <aside class="pt-12 fixed top-11 left-0 h-screen w-40 bg-gray-600 rounded-md border-t-2 z-10 text-center ">

  <ul *ngIf="selectedMenu === 'home'">
    <!-- Options spécifiques au menu "Home" -->
    <li class="option-menu">Option home1</li>
    <li class="option-menu">Option home2</li>
  </ul>
  <ul *ngIf="selectedMenu === 'produits'">
    <!-- Options spécifiques au menu "Produits" -->
    <li class="option-menu" routerLink="/familles">Familles</li>
    <li class="option-menu" routerLink="articles">Articles</li>
  </ul>
  <ul *ngIf="selectedMenu === 'depot'">
    <!-- Options spécifiques au menu "Dépôt" -->
    <li><a routerLink="/depot-side" class="option-menu">depot X</a></li>
    <li class="option-menu">Option depotY</li>
  </ul>
  <ul *ngIf="selectedMenu === 'contact'">
    <!-- Options spécifiques au menu "Contact" -->
    <li routerLink="/clients" class="option-menu">Clients</li>
    <li routerLink="/fournisseurs" class="option-menu">Fournisseurs</li>
    <!-- <li routerLink="/ajout-clients" class="option-menu">Utilisateurs</li> -->
  </ul>

  </aside>
</div>
